modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3001

[[ports]]
localPort = 18692
externalPort = 3000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
VITE_CLERK_PUBLISHABLE_KEY = "pk_test_ZmxleGlibGUtbGFicmFkb3ItNjQuY2xlcmsuYWNjb3VudHMuZGV2JA"
ADMIN_USER_IDS = "chen.lach@gmail.com,chen.lach85@gmail.com"
VITE_SUPABASE_URL = "https://rwyhsmnrxisbldnrahpo.supabase.co"
VITE_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ3eWhzbW5yeGlzYmxkbnJhaHBvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkwMzc1MjEsImV4cCI6MjA5NDYxMzUyMX0.gdc5w3vUmq9QfzIH8wHPc9LRkSMbCXeUhkOiIjcB4cg"
